<div class="container">
      <div class="chart-wrapper">
        <canvas baseChart
                [type]="'bar'"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions">
        </canvas>
      </div>
  <div class="row">
    <div class="col-5 p-2">
      <div class="card p-2 text-center table-wrapper-scroll-y my-custom-scrollbar">
        <h3 class="text-primary text-center">Query 6</h3>
        <table datatable [dtOptions]="option" [dtTrigger]="dtTrigger" class="table table-bordered table-striped mb-0">
          <thead>
          <tr>
            <th>Store Key</th>
            <th>Item Name</th>
            <th>Total Sales</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of data_all6">
            <td>{{ data.store_key }}</td>
            <td>{{ data.item_name }}</td>
            <td>{{ data['total sales(quantity)'] }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



