<div class="container">
  <div class="row">
    <div class="col-4 p-2">
      <div class="card p-2 text-center">
        <h2 class="text-primary text-center">Query 2</h2>
        <h6 *ngFor="let data of data_all2">
          {{data['trans type']}} - {{data['total sales']}}
        </h6>
      </div>
    </div>
    <div class="col-8">
      <div class="chart-wrapper">
        <canvas baseChart
                [type]="'line'"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions">
        </canvas>
      </div>
    </div>
  </div>
</div>
